@use "../../media" as m;

:host {
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 100vh;

	@include m.max-width(mobile-max1k) {
		grid-template-rows: auto 5rem;
		gap: 0;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.625rem;
	width: 100%;
	height: 100%;
	font-size: 0.875rem;
	flex: 0 0 6.25rem;

	& > div {
		margin-left: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.625rem;
	}

	@include m.max-width(mobile-max1k) {
		order: 2;
		font-size: 0.75rem;
		background: var(--bg-white);
		border-top: 0.0625rem solid var(--gray-200);
		padding: 0.625rem;
		margin-top: auto;
		flex-wrap: wrap;
		align-items: stretch;

		h1 {
			display: none;
		}

		button {
			border: none;
			box-shadow: none;
			text-transform: capitalize;
			flex: 1 1 auto;
			color: var(--main-text);
		}

		.search {
			order: -1;
			flex: 0 1 100%;
		}

		& > div:last-child {
			background: var(--green-main);
			flex-flow: column;
			color: var(--main-text);
			margin-left: 0;
			gap: 0.625rem;
			padding: 0.625rem 1.25rem;
			border-radius: 0.3125rem;
			flex: 1 1 auto;

			button {
				padding: 0;
			}
		}
	}

	@include m.min-width(mobile-min1k) {
		padding: 1.25rem;
	}
}

.grid {
	display: grid;
	grid-template-columns: 1fr 4fr 8fr 2fr 14fr 2fr;
	grid-template-rows: auto 1fr;
	overflow: auto;
	padding: 1.25rem;

	font-size: 0.875rem;
	line-height: 1.375rem;

	& > div {
		border-bottom: 0.0625rem solid var(--gray-200);
		font-weight: bolder;
		text-transform: uppercase;
		font-size: 0.75rem;
		padding: 1rem 1.5rem;
	}

	.empty-item {
		grid-column: 6 span;
		text-align: center;
	}

	app-item + .empty-item {
		display: none;
	}

	@include m.max-width(mobile-max1k) {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;

		& > div:not(.empty-item) {
			display: none;
		}
	}
}

.search {
	--search-height: 2rem;
	position: relative;
	flex: 1 0 auto;
	height: var(--search-height);

	input {
		position: absolute;
		width: 100%;
		height: 100%;
		background: transparent;
		color: var(--main-text);
		border: 0.125rem solid var(--gray-200);
		border-radius: 0.3125rem;
		padding: 0.5rem var(--search-height) 0.5rem 1rem;
	}

	button {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 0;
		margin: 0;
		width: var(--search-height);
		background: transparent;
		box-shadow: none;
		border: none;
		color: var(--green-main);
	}
}
